# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test_dont_upload/*.*

# игнорируем файлы вижуалки
ipch
Debug
rng.sdf
rng.sln
rng.suo
rng.opensdf
rng/Debug
rng/rng.vcxproj
rng/rng.vcxproj.filters
rng/rng.vcxproj.user
.vs